{%extends 'all-updates/base.html'%} {%load bootstrap3 %} {% block content %}
<div class="container">
  <div class="row">
    <h1>Your Profile</h1>
    <hr>
    <div class="col-md-6">
      {% for detail in user_details %}

      <div class="row">
        <!-- displaying details -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center" class="navbar-brand"> {{ detail.name }} </h2>
          <h2 class="text-center" class="navbar-brand"> {{ detail.id_number }} </h2>
          <h2 class="text-center" class="navbar-brand"> {{ detail.email }} </h2>
        </div>

      </div>

      {% empty %}
      <div class="row">
        <h2 class="text-center">You do not have an account</h2>
        <a class="navbar-brand" href="{% url 'user_profile' %}">Create your profile</a>
      </div>
      {% endfor %}

    </div>
  </div>
  <div class="row">
    <h1>Your neighbourhood: </h1>
    <hr>
    <div class="col-md-6">
      {% for hood_detail in hood_details %}

      <div class="row">
        <!-- displaying details -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h2 class="text-center" class="navbar-brand"> {{ hood_detail.name }} </h2>
          <h4 class="text-center" class="navbar-brand"> {{ hood_detail.location }} </h4>
          <a class="navbar-brand" href="{% url 'hood_details' neighbourhood_id=hood_detail.id %}">Check hood Profile</a>
        </div>

      </div>

      {% empty %}
      <div class="row">
        <h2 class="text-center">You do belong to any neighbourhood</h2>
        <a class="navbar-brand" href="{% url 'hood_profile' %}">Join a neighbourhood</a>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
</div>
{% endblock %}
